{% extends 'baseFront.html.twig' %}

{% block title %}Update Discussion{% endblock %}

{% block body %}
     <main id="main" class="main">

    <h1>Update Discussion</h1>

    <div>
        {{ include('discussion/addDiscussion.html.twig') }}
    </div>

            </main>

{% endblock %}
