{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
     <main id="main" class="main">

    

    <div>
        {{ include('chart/index.html.twig') }}
    </div>

            </main>

{% endblock %}
