{% extends 'base.html.twig' %}

{% block title %}New Facture{% endblock %}

{% block body %}
     <main id="main" class="main">

    <h1>Create new Facture</h1>

    <div>
        {{ include('facture/_form.html.twig') }}
    </div>

    <a href="{{ path('app_appartement_factures') }}">Back to List</a>
            </main><!-- End #main -->

{% endblock %}
